<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FRAZIER FARM</title>
  </head>
  <body>
    <div class="header">
      <!-- title -->
      <div class="header-title">
        <img src="/img/logo.jpg" alt="Frazier Farm Logo" />
        <h1>DAILY FEED SCHEDULE</h1>
      </div>
      <div class="header-nav">
        <ul>
          <li>
            <a href="/horses">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="column">
        <div class="row">
          <% horses.forEach((horse) => { %> <% if (horse.typeOfBoard == "full")
          { %>
          <ul class="box">
            <li class="nick">
              <%= horse.nickname %>
            </li>
            <li class="supp">
              <%= horse.supplements %>
            </li>
          </ul>
          <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
