<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <!-- title -->
      <div class="header-title">
        <img src="img/logo.jpg" alt="Frazier Farm Logo" />
        <h1>FRAZIER FARM BOARDERS</h1>
      </div>
      <div class="header-nav">
        <ul>
          <li>
            <a href="/horses/new">New</a>
          </li>
          <li>
            <a href="/horses/daily">Daily Feed Schedule</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="column">
        <div class="row">
          <% horses.forEach((horse) => { %>

          <ul class="box">
            <li>
              <%= horse.nickname %>
              <a href="/horses/<%=horse.id %>" class="img-thumbnail"
                ><img src=<%=horse.img; %>>
              </a>
            </li>
          </ul>

          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
