<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />

    <title>horses</title>
  </head>
  <body>
    <h1>Add Horse Info</h1>
    <button class="center">
      <a href="/horses">Back To Main</a>
    </button>

    <form action="/horses" method="POST">
      <fieldset class="logsInfo">
        <legend>Owner Info</legend>

        <input type="text" name="ownername" id="ownername" placeholder="name" />

        <input
          type="text"
          name="onwernickname"
          id="ownernickname"
          placeholder="nickname"
        />
        <legend>Horse Info</legend>

        <input type="text" name="name" id="name" placeholder="name" />

        <input type="text" name="img" id="img" placeholder="picture" />
        <input
          type="text"
          name="nickname"
          id="nickname"
          placeholder="nickname"
        />

        <input type="text" name="gender" id="gender" placeholder="gender" />

        <input type="text" name="age" id="age" placeholder="age" />

        <input type="text" name="breed" id="breed" placeholder="breed" />

        <input type="text" name="color" id="color" placeholder="color" />

        <input type="text" name="height" id="height" placeholder="height" />

        <input
          type="supplements"
          name="supplements"
          id="supplements"
          placeholder="feed schedule"
        />
      </fieldset>
      <input type="submit" class="otherButtons" value="SUBMIT" />
    </form>
  </body>
</html>
