<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/main.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FRAZIER FARM</title>
  </head>

  <body>
    <div class="header">
      <!-- title -->
      <div class="header-title">
        <img src="../img/logo.jpg" alt="Frazier Farm Logo" />
        <h1>Add New Boarder</h1>
      </div>
      <div class="header-nav">
        <ul>
          <li>
            <a href="/horses">Home</a>
          </li>
        </ul>
      </div>
    </div>

    <form action="/horses" method="POST">
      <fieldset class="logsInfo">
        <div class="jumbotron">
          <legend>Owner Info</legend>
          <li>
            <input
              type="text"
              name="ownerName"
              id="ownerName"
              placeholder="name"
            />
          </li>
          <li>
            <input
              type="text"
              name="onwernickname"
              id="ownerNickname"
              placeholder="nickname"
            />
          </li>
          <legend>Horse Info</legend>
          <li>
            <input type="text" name="name" id="name" placeholder="name" />
          </li>
          <li>
            <input
              type="text"
              size="40"
              name="img"
              id="img"
              placeholder="http link to picture"
            />
          </li>
          <li>
            <input
              type="text"
              name="nickname"
              id="nickname"
              placeholder="nickname"
            />
          </li>
          <li>
            <input
              type="text"
              name="typeOfBoard"
              id="typeOfBoard"
              placeholder="type of board"
            />
          </li>
          <li>
            <input type="text" name="gender" id="gender" placeholder="gender" />
          </li>
          <li>
            <input type="text" name="age" id="age" placeholder="age" />
          </li>
          <li>
            <input type="text" name="breed" id="breed" placeholder="breed" />
          </li>
          <li>
            <input type="text" name="color" id="color" placeholder="color" />
          </li>
          <li>
            <p>Feed Schedule</p>
          </li>
          <li>
            <textarea
              rows="5"
              cols="40"
              name="supplements"
              id="supplements"
              placeholder="feed schedule"
            >
            </textarea>
          </li>
          <li>
            <input type="submit" class="otherButtons" value="SUBMIT" />
          </li>
        </div>
      </fieldset>
    </form>
  </body>
</html>
