<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/main.css" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>MONGOOSE STORE PRODUCTS</h1>

    <button class="center">
      <a href="/mongoose_store/new">Create New Product</a>
    </button>

    <div class="container">
      <div class="column">
        <div class="row">
          <% products.forEach((product) => { %>
          <ul class="box">
            <li>
              <%= product.name %>
              <a href="/mongoose_store/<%=product.id %>" class="img-thumbnail"
                ><img src=<%=product.img; %>>
              </a>
              <p class="money"><%= product.price %></p>
            </li>
          </ul>

          <% }) %>
        </div>
      </div>
    </div>

    <script src="server.js"></script>
  </body>
</html>
